body{
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}


main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:space-around;
    justify-content: center;

    width: 50vw;
    height: 50vh;

    background-color: antiquewhite;
}

.texto{
    display: flex;
    height: 5vh;
    width: 40vw;
    gap: 100px;

}
