html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*--------------------------NAVEGADOR----------------------------------*/
.navegador {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
    background-color: rgb(97, 72, 42);
    height: 13vh;
    z-index: 100;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 20vw;
}

li {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px;
    color: rgb(232, 227, 194);
    text-align: center;
    font-size: large;
}

a {
    align-self: center;
    text-decoration: none;
    color: azure;
}

#icono {
    height: 11vh;
    margin-right: 1vw;
}

i.fa-envelope-open-text {
    margin-right: 5%;
}

.buscador input {
    width: 35vw;
    height: 6vh;
    border-radius: 1cm;
}

li.buscador i {
    margin-left: 1%;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25%;
    color: rgb(100, 100, 100);
    background-color: rgb(232, 227, 194);
}

li.usuario {
    width: 15vw;
}

.usuario i {
    margin-right: 2%;
}

.usuario:hover {
    color: rgb(231, 206, 121);
}

li:hover {
    color: rgb(231, 206, 121);
}

.buscador i:hover {
    background-color: rgb(231, 206, 121);
    color: rgb(101, 90, 74);
}

#titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

#generos {
    display: flex;
    flex-wrap: wrap;

    height: fit-content;

    align-items: center;
    justify-content: center;

    text-align: center;
    line-height: 7vw;
    background-image: url("../img/libro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fantasia {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: black;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/fantasia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.romantica {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: white;
    border: 3px solid rgb(64, 9, 9);
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("../img/romantica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.historica {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: white;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/historica.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.juvenil {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: white;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/juvenil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ciencia {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: white;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/ciencia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.policiaca {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: white;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/policiaca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.arte {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: white;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/arte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.psicologia {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: black;
    border: 3px solid rgb(64, 9, 9);
    background-image: url("../img/psicologia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.comic {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;
    color: black;
    border: 3px solid rgb(64, 9, 9);
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("../img/comic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

#boton {
    display: flex;
    justify-content: center;
}

button {
    margin: 2vh;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid black;
    color: rgb(95, 24, 24);
    background-color: rgb(209, 186, 151);
    font-size: 1em;
}

button:hover {
    background-color: rgb(144, 127, 103);
}

footer {
    margin-top: 2%;
    background-color: rgb(76, 69, 49);
    color: antiquewhite;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2vh;
}

address div {
    width: 40vw;
}

address div :first-child {
    font-size: large;
}

footer a {
    color: antiquewhite;
}

footer a:hover {
    color: rgb(183, 130, 51);
}

div.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}

.user-profile {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 15vw;
    z-index: 1;
    right: 0;
    top: 100%;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.dropdown-menu a i {
    margin-right: 8px;
}

.user-profile:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover{
    color: rgb(174, 164, 150);
    background-color: #282828;
}
