html {
    align-content: center;
    justify-content: center; 
    display: flex;
    margin: 0;
    height: 100vh;
    margin: 0;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
html:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position:absolute;
    top: 0;
    left: 0;
    background: linear-gradient (rgba(5, 7, 12, 0.75), 
    rgba(5, 7, 12, 0.75));
    opacity: 0.6;
    z-index: -1;
}

table,th,td {
    border: 1px solid rgb(2, 53, 10);

}

th {
    background-color: rgb(142, 122, 105);
    color: aliceblue;
    padding: 1vh;

}

tr:nth-child(odd) {
    background-color: rgb(154, 188, 159);
    color: aliceblue;
}

tr:nth-child(even) {
    background-color: antiquewhite;

}
