
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*--------------------------NAVEGADOR----------------------------------*/
.navegador {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
    background-color: rgb(97, 72, 42);
    height: 13vh;
    z-index: 100;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 20vw;
}

li {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px;
    color: rgb(232, 227, 194);
    text-align: center;
    font-size: large;
}

a {
    align-self: center;
    text-decoration: none;
    color: azure;
}

#icono {
    height: 11vh;
    margin-right: 1vw;
}

i.fa-envelope-open-text {
    margin-right: 5%;
}

.buscador input {
    width: 35vw;
    height: 6vh;
    border-radius: 1cm;
}

li.buscador i {
    margin-left: 1%;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25%;
    color: rgb(100, 100, 100);
    background-color: rgb(232, 227, 194);
}

li.usuario {
    width: 15vw;
}

.usuario i {
    margin-right: 2%;
}

.usuario:hover {
    color: rgb(231, 206, 121);
}

li:hover {
    color: rgb(231, 206, 121);
}

.buscador i:hover {
    background-color: rgb(231, 206, 121);
    color: rgb(101, 90, 74);
}

#titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

#generos {
    display: flex;
    flex-wrap: wrap;

    height: fit-content;

    align-items: center;
    justify-content: center;

    text-align: center;
    line-height: 7vw;
    background-image: url("../img/libro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fantasia, .romantica, .historica, .juvenil, 
.ciencia, .policiaca, .arte, .psicologia, .comic, .poesia, .ciencia_ficcion {
    margin: 40px 40px;
    height: 10vw;
    width: 10vw;   
    border: 3px solid rgb(64, 9, 9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fantasia {
    color: black;
    background-image: url("../img/fantasia.jpg");
}
.romantica {
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("../img/romantica.jpg");
}

.historica {
    color: white;
    background-image: url("../img/historica.jpg");
}

.juvenil {
    color: white;
    background-image: url("../img/juvenil.jpg");
}

.ciencia {
    color: white;
    background-image: url("../img/ciencia.jpg");
}

.ciencia_ficcion {
    color: white;
    background-image: url("../img/ciencia_ficcion.png");
}
.policiaca {
    color: white;
    background-image: url("../img/policiaca.jpg");
}

.arte {
    color: white;
    background-image: url("../img/arte.jpg");
}

.psicologia {
    color: black;
    background-image: url("../img/psicologia.png");
}

.poesia {
    color: white;
    background-image: url("../img/poesia.png");
}

.comic {
    color: black;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url("../img/comic.jpg");
}

#libros {
    display: flex;
    margin: 2vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-top: 2px solid rgb(97, 72, 42);
    border-bottom: 2px solid rgb(97, 72, 42);
}
 
#boton {
    display: flex;
    justify-content: center;
}

button {
    margin: 2vh;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid black;
    color: rgb(95, 24, 24);
    background-color: rgb(209, 186, 151);
    font-size: 1em;
}

button:hover {
    background-color: rgb(144, 127, 103);
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    min-height: 50vh;
    align-content: center;
    justify-content: center;
    background-image: url("../img/libro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5vh;
    margin-bottom: 20vh;
}

#libros .libroImg{
    height: 35vh;
    width: 12vw;
    min-width: 50px;
    margin: 2vh;
}
main .libroImg {
    height: 55vh;
    width: 20vw;
    margin: 3vh;
}

#libros .libroImg:hover {
    height: 35.5vh;
    width: 12.5vw;
    filter: grayscale(50%);
    box-shadow: 10px 10px 5px rgb(97, 72, 42);
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

main .libroImg:hover {
    height: 55.5vh;
    width: 20.5vw;
    filter: grayscale(50%);
    box-shadow: 10px 10px 5px rgb(97, 72, 42);
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(76, 69, 49);
    color: antiquewhite;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2vh;
}

address div {
    width: 40vw;
}

address div :first-child {
    font-size: large;
}

footer a {
    color: antiquewhite;
}

footer a:hover {
    color: rgb(183, 130, 51);
}



div.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}

.user-profile {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(58, 43, 25);
    min-width: 15vw;
    z-index: 1;
    right: 0;
    top: 100%;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.dropdown-menu a i {
    margin-right: 8px;
}

.user-profile:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    color: rgb(216, 202, 182);
    background-color: rgb(43, 36, 27);
}