html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.mainNaside {
    display: flex;
    justify-self: end;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
    background-color: rgb(97, 72, 42);
    height: 13vh;
    z-index: 100;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 20vw;
}

li {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px;
    width: fit-content;
    color: rgb(232, 227, 194);
    text-align: center;
    font-size: large;
}

a{
    align-self: center;
    text-decoration: none;
}

#icono{
    height: 11vh;
    margin-right: 1vw;
    width: auto;
}

i.fa-envelope-open-text {
    margin-right: 5%;
}

.buscador input {
    width: 35vw;
    height: 6vh;
    border-radius: 1cm;
}

li.buscador i {
    margin-left: 1%;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25%;
    color: rgb(100, 100, 100);
    background-color: rgb(232, 227, 194);
}

li.usuario {
    width: 15vw;
}

.usuario i {
    margin-right: 2%;
}

.usuario:hover {
    color: rgb(231, 206, 121);
}

li:hover {
    color: rgb(231, 206, 121);
}

.buscador i:hover {
    background-color: rgb(231, 206, 121);
    color: rgb(101, 90, 74);
}

main {
    display: flex;
    height: 100%;
    width: fit-content;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-image: url(../img/textura.jpg);
}

header {
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-top: 2%;
    font-size: medium;
}

header :first-child {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0px;
}

section.formulario {
    margin-top: 0px;
    background: none;
}

form input:required {
    width: 25vw;
    border-radius: 0%;
    border: solid rgb(179, 179, 179);
}
form label span{
    color: red;
}

textarea{
    height: 20vh;
    width: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    border: solid rgb(179, 179, 179);
}

label#checkmark {
    font-size: small;
}

section {
    flex-basis: 100%;
    height: 100%;
    background-color: white;
    margin: 3%;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 13vh;
    width: 20vw;
    margin: 0px;
    padding: 0.8vw;
    height: fit-content;
    text-align: justify;
    font-weight: 200;
    opacity: 90%;
    background-color: rgb(255, 241, 223);
}

p#novedades{
    font-size: x-large;
}

aside article :first-child{
    text-align: left;
    font-size: large;
    font-weight: 700;
}

aside article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(76, 69, 49);
}

aside a{
    color: rgb(76, 69, 49);
}

aside a:hover{
    color: rgb(183, 130, 51);
}

img{
    width: 18vw;
    height: auto;
}

footer {
    margin-top: 2%;
    background-color: rgb(76, 69, 49);
    color: antiquewhite;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2vh;
}

address div{
    width: 40vw;
}

address div :first-child{
    font-size: large;
}

footer a{
    color: antiquewhite;
}

footer a:hover{
    color: rgb(183, 130, 51);
}

div.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}