html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mainDiv {
    display: flex;
    height: 87vh;
    align-content: center;
    justify-content: center;
}

/*NAVEGADOR*/

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
    background-color: rgb(97, 72, 42);
    height: 13vh;
    z-index: 100;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 20vw;
}

li {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px;
    width: fit-content;
    color: rgb(232, 227, 194);
    text-align: center;
    font-size: large;
}

a {
    align-self: center;
    text-decoration: none;
}

#icono {
    height: 11vh;
    margin-right: 1vw;
}

i.fa-envelope-open-text {
    margin-right: 5%;
}

.buscador input {
    width: 35vw;
    height: 6vh;
    border-radius: 1cm;
}

.buscador i {
    margin-left: 1%;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 25%;
    color: rgb(100, 100, 100);
    background-color: rgb(232, 227, 194);
}

li.usuario {
    width: 15vw;
}

.usuario i {
    margin-right: 2%;
}

.usuario:hover {
    color: rgb(231, 206, 121);
}

li:hover {
    color: rgb(231, 206, 121);
}

.buscador i:hover {
    background-color: rgb(231, 206, 121);
    color: rgb(101, 90, 74);
}


/*MAIN*/

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;

    padding: 20px;

    width: 50vw;
    max-width: 600px;
    height: fit-content;

    background-image: url(../img/textura.jpg);
}

form {
    width: 100%;
}

.formContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.texto {
    display: flex;
    height: 25%;
    width: 90%;
}

.correcto {
    display: flex;
    height: 25%;
    width: 90%;
    border: 3px solid green;
}

.incorrecto {
    display: flex;
    height: 25%;
    width: 90%;
    border: 3px solid red;
}

.titulo {
    width: 100%;
}

h2 {
    text-align: center;
}

.centroForm {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    padding-bottom: 0px;
}

.midForm {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 30%;
    min-width: fit-content;
    padding-left: 5%;
}

.midForm:hover {
    width: 28px;
    cursor: pointer;
    font-weight: 800;
}

.botonDiv {
    width: 100%;
    padding: 2vh;
    padding-left: 5%;
}

.enlaceDiv {
    width: 100%;
    padding: 2vh;
    padding-left: 5%;
}

.passwd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.eye {
    width: 25px;
    height: fit-content;
    padding-right: 10px;
}

.boton {
    border-radius: 15px;
    padding: 1.5vh;
    background-color: #61482a;
    color: #e8e3c2;
    border: 0px;
}

.boton:hover {
    background-color: #4c4531;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a:hover{
    font-weight: 800;
}


/*footer*/
footer {
    margin-top: 2%;
    background-color: rgb(76, 69, 49);
    color: antiquewhite;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2vh;
}

address div {
    width: 40vw;
}

address div :first-child {
    font-size: large;
}

footer a {
    color: antiquewhite;
}

footer a:hover {
    color: rgb(183, 130, 51);
}

div.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}